 /* moodLifter.css */

.containerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../assets/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .title {
    font-size: 20px; 
    text-align: center;
    margin-bottom: 2rem;
   }
  
  .quote-text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color:#007bff
   }
  
  input {
    width: 40%;
    height: 40px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 2px solid #007bff;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  input:focus {
    outline: none;
    border-color: #ffc107; 
  }
  .img-sunflower{
    height: 200px;
    width:20%;
  }
  
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  .suggestion{
    font-size:40px;
  }
   
  .radioLabel {
    display: inline-block; 
    margin-right: 10px;
  }